@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
    scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
    -ms-overflow-style: none; /* Ẩn thanh cuộn trên IE/Edge */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trên Chrome/Safari */
  }
  